<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarvis.study">

    <application>
        <activity
            android:name="com.jarvis.study.ui.play.ClassPlayActivity"
            android:exported="true" />
    </application>
</manifest>